<h1>Pokedex du Kanto</h1>
<section>
  <div class="pokeList">
  @for(poke of pokemonsList ; track poke.name){
    <div class="pokePreview">
      <p>{{poke.name}}</p>
      <img [src]="poke.pokeDetails.sprites.front_default" alt="{{poke.name}}" id="icon">
      <button (click)="displayDetails(poke.pokeDetails)" id="detailsToggle">Details</button>
    </div>
  }
  </div>

  <div class="pokeCard">
    @if(pokeDetails){
      <h1>{{pokeDetails.species.name}}</h1>
      <p>{{pokeDetails.height}}</p>
      <img [src]="pokeDetails.sprites.other.dream_world.front_default" alt="NO PIC" id="fullPic">
    }
    <button (click)="cloeDetails()">Fermer</button>
  </div>

</section>
