section{
  display: grid;
  grid-template-columns: 20rem auto;
}

.pokePreview{
  max-width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#detailsToggle{
  grid-column: 1 / span 2;
}

#icon{
  max-width: 4.5rem;
}

.navButtons{
  max-width: fit-content;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.pokeCard{
  max-width: fit-content;
  max-height: fit-content;
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
